@keyframes aec {
    from {
        color: blue;
    }
    to {
        color: red;
    }
}

.lettre {
    display: inline-block;
    font-family: 'Lilita One', cursive;
    text-align: center;
    border: blue 5px solid;
    margin: 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    transition: all 0.2s;
    &:hover {
        border: rgb(37, 37, 141) 5px solid;
        transform: rotateX(50deg);
        &:active {
            color: red;
        }
    }
}

h1 {
    font-family: 'Lilita One', cursive;
    text-align: center;
    border: blue 5px solid;
    margin: 0;
    background: -webkit-linear-gradient(rgb(31, 31, 104), rgb(7, 130, 245));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jeu {
    text-align: center;
    div {
        margin: 5px;
    }
}

.arc_en_ciel {
    animation: aec 0.5s infinite;
}

.loose {
    animation: aec 0.5s infinite;
}